
html {
    position: relative;
    min-height: 100%;
  }
  body {
    padding-top: $navbar-height + $navbar-margin-bottom;
    margin-bottom: 46px;
  }
  
  .navbar-brand{
    img{
      margin: -$navbar-padding-vertical 0;
      height: $navbar-height;
      padding: 10px 0;
    }
  }
  .header-container.jumbotron {
    background-color: $gray-darker;
    color: #fff;

    background-size: cover;
    background-position: center 36%;
    margin-top: -37px;
    margin-bottom: 0px;
  
    h1 {
      color: #fff;
    }

    h4 {
      font-family: monospace;
      padding: 1em 0;
    }

  }
  .navbar-container {
    font-size: 16px;
    .fab.fa-github {
      font-size: 150%;
    }
  }
  .page-content {
    padding-bottom: 20px;
  }
  section.mission {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  section.development {
    color: white;
    background: $gray-darker;
    padding: 1em 0;
    h4 {
      font-family: monospace;
    }
  }
  section.latest-news {
    article:not(:last-of-type) {
      border-right: 2px solid $gray-lighter;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;    
    padding-top: 10px;
    background-color: $gray-lighter;
    color: $gray-dark;
  }
  
  .post-list-container {
    li a.active {
      font-weight: bold;
    }
  }
  *[id]:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
  }
  .navbar-form .has-feedback .form-control-feedback{
    top:10px
  }
  